In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd
import io

# Assuming you uploaded 'Titanic-Dataset.csv'
file_name = list(uploaded.keys())[0]

# Read the uploaded CSV file into a DataFrame
titanic = pd.read_csv(io.StringIO(uploaded[file_name].decode('utf-8')))

# Display the first few rows of the DataFrame
titanic.head()

In [ ]:
from google.colab import files

uploaded = files.upload()

In [ ]:
import os

file_path = r'C:\Users\HP\Desktop\Titanic-Dataset.csv'

if os.path.exists(file_path):
    print("File exists.")
else:
    print("File does not exist.")

In [5]:
import os

print("Current Working Directory:", os.getcwd())

Current Working Directory: /content

In [ ]:
# Reading first 5 rows
titanic.head()

In [12]:
# Showing no. of rows and columns of dataset
titanic.shape

(891, 12)

In [ ]:
# checking for columns
titanic.columns

In [ ]:
# Checking for data types
titanic.dtypes

In [15]:
# checking for duplicated values
titanic.duplicated().sum()

0

In [ ]:
# checking for null values
nv = titanic.isna().sum().sort_values(ascending=False)
nv = nv[nv>0]
nv

In [ ]:
# Cheecking what percentage column contain missing values
titanic.isnull().sum().sort_values(ascending=False)*100/len(titanic)

In [18]:
# Filling Null Values in Age column with mean values of age column
titanic['Age'].fillna(titanic['Age'].mean(),inplace=True)

# filling null values in Embarked Column with mode values of embarked column
titanic['Embarked'].fillna(titanic['Embarked'].mode()[0],inplace=True)

In [ ]:
# checking for null values
titanic.isna().sum()

In [ ]:
# Finding no. of unique values in each column of dataset
titanic[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked']].nunique().sort_values()

In [ ]:
titanic['Survived'].unique()

In [ ]:
titanic['Sex'].unique()

In [ ]:
titanic['Pclass'].unique()

In [ ]:
titanic.drop(columns=['PassengerId','Name','Ticket'],axis=1,inplace=True)
titanic.columns

In [ ]:
# Showing inforamation about the dataset
titanic.info()

In [ ]:
# showing info. about numerical columns
titanic.describe()

In [ ]:
d1 = titanic['Sex'].value_counts()
d1

In [ ]:
# Plotting Count plot for sex column
sns.countplot(x=titanic['Sex'])
plt.show()

In [ ]:
# Plotting Percantage Distribution of Sex Column
plt.figure(figsize=(5,5))
plt.pie(d1.values,labels=d1.index,autopct='%.2f%%')
plt.legend()
plt.show()

In [ ]:
# Showing Distribution of Sex Column Survived Wise
sns.countplot(x=titanic['Sex'],hue=titanic['Survived']) # In Sex (0 represents female and 1 represents male)
plt.show()

In [ ]:
# Showing Distribution of Embarked Sex wise
sns.countplot(x=titanic['Embarked'],hue=titanic['Sex'])
plt.show()

In [ ]:
# Plotting CountPlot for Pclass Column
sns.countplot(x=titanic['Pclass'])
plt.show()

In [ ]:
# Age Distribution
sns.kdeplot(x=titanic['Age'])
plt.show()

In [ ]:
# Plotting CountPlot for Survived Column
print(titanic['Survived'].value_counts())
sns.countplot(x=titanic['Survived'])
plt.show()

In [ ]:
# Showinf Distribution of Age Survived Wise
sns.kdeplot(x=titanic['Age'],hue=titanic['Survived'])
plt.show()

In [ ]:
# Plotting Histplot for Dataset
titanic.hist(figsize=(10,10))
plt.show()

In [ ]:
# Plotting Boxplot for dataset
# Checking for outliers
sns.boxplot(titanic)
plt.show()

In [ ]:
# showing Correlation
titanic.corr()

In [ ]:
# Showing Correlation Plot
sns.heatmap(titanic.corr(),annot=True,cmap='coolwarm')
plt.show()

In [ ]:
# Plotting pairplot
sns.pairplot(titanic)
plt.show()

In [ ]:
titanic['Survived'].value_counts()

In [ ]:
from sklearn.preprocessing import LabelEncoder
# Create an instance of LabelEncoder
le = LabelEncoder()

# Apply label encoding to each categorical column
for column in ['Sex','Embarked']:
    titanic[column] = le.fit_transform(titanic[column])

titanic.head()

# Sex Column

# 0 represents female
# 1 represents Male

# Embarked Column

# 0 represents C
# 1 represents Q
# 2 represents S

In [ ]:
cols = ['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']
x = titanic[cols]
y = titanic['Survived']
print(x.shape)
print(y.shape)
print(type(x))  # DataFrame
print(type(y))  # Series

In [ ]:
x.head()

In [ ]:
print(891*0.10)

In [ ]:
print(891*0.10)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.10,random_state=1)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)